.row {
  width: 80%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 10vh 10%;
}
.counter {
  font-family: var(--body-font);
}
/* #cart{
  margin-left: 2%;
} */
button:focus {
  outline: 0;
}
.product,
.product--pink,
.product--yellow,
.product--green,
.product--red,
.product--orange,
.product--blue {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
  background: var(--background-color);
  color: var(--text-color);
}
.product img,
.product--blue img,
.product--orange img,
.product--red img,
.product--green img,
.product--yellow img,
.product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner button {
  border-radius: 20px;
  border: 1px solid var(--first-color-alt);
  background-color: var(--first-color);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
}
.product_inner button:hover {
  background: white;
  color: var(--first-color);
}
.product_inner button:before {
  font-family: FontAwesome;
  content: "";
  color: #fff;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2b2d42;
}
.product_overlay {
  background: #3f51b580;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.product_overlay h2 {
  color: var(--text-color);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}
